<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SCGST.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
				<key>dateExpires</key>
				<string>2019/11/2</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AliThirdparty.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AliyunPlayerSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FCUUID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ISHPermissionKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JLRoutes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MQTTClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MaterialControls.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SSKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UICKeyChainStore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UITableView_FDTemplateLayoutCell.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C7D443D848284BE68E5178C82113198CBCFC787</string>
						<key>dateExpires</key>
						<string>2019/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3W99S5XFEZ</string>
						<key>name</key>
						<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3W99S5XFEZ.com.scglxx.yijing</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3W99S5XFEZ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SCGST.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>196ece28-9664-4166-ad29-6ed09b941614</string>
				<key>name</key>
				<string>sc_AD</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3W99S5XFEZ</string>
				<key>name</key>
				<string>SICHUAN HIGHWAY TRANSPORTATION &amp; COMMUNICATION PROJECT CO., LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
